html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  min-height:1000px;
}
.navbar-custom {
    background-color: #8b2dee;
}

    .navbar-custom .navbar-brand,
    .navbar-custom .navbar-text {
        color: white;
        font-weight: bold;
    }

.nav-item {
    border: 2px solid white;
    border-radius: 5px;
    margin-left: 5px;
}

.nav-link {
    color: white;
}
body {
    background-image: linear-gradient( to bottom, #8b2dee, #ADD8E6 );
    //background: -webkit-gradient(linear, left top, right top, from(#fff), to(#000000)) no-repeat;
    // background: -moz-linear-gradient(left, #CCCCCC, #000000);
}
.btn{
    background-color: #8b2dee;
    color: white;
    
}
.footer {
    background-color: #52050a !important;
    color: white;
    height:50px;
    
}
