@page
@model PrivacyModel
@{
    ViewData["Title"] = "Política de Privacidade";
}
<h1>@ViewData["Title"]</h1>

<p>
    A Agenda de Contatos Lda, adiante Agenda, tem como compromisso o respeito pela privacidade dos utilizadores e a proteção e a segurança dos seus dados pessoais. Com este texto pretende informar o utilizador sobre a forma como a Agenda trata os dados pessoais que lhe são facultados. O utilizador deve ler com atenção esta política de privacidade e decidir de forma livre, esclarecida e informada se concede autorização à Agenda para tratamento dos seus dados pessoais.
    O utilizador garante que os dados comunicados são verdadeiros, exatos, completos e atuais, sendo responsável por qualquer desconformidade. Caso os dados comunicados pertençam a um terceiro, o utilizador garante que informou esse terceiro sobre as condições previstas neste documento e que obteve a sua autorização para facultar os seus dados à Agenda para as finalidades indicadas.
    Todos os dados pessoais recolhidos serão tratados de acordo com as regras definidas na presente Política de Privacidade e destinam-se aos seguintes fins:
    <ol>
        <li>gerir os processos de inscrição nas várias aplicações da Agenda;</li>
        <li>
            comunicar com os utilizadores, quando estritamente necessário ou por
            opção do próprio, quando se aplique;
        </li>
    </ol>
    <h3>Dados Recolhidos</h3>
<p>
    Para registar novos utilizadores, os dados pessoais recolhidos são os seguintes:

</p>
<h5>Dados obrigatórios</h5>
<ul>
    <li>NIF ou Endereço de e-mail</li>
    <li>Nomes e apelidos</li>
</ul>
<h5>Dados facultativos</h5>
<ul>
    <li>Data de Nascimento</li>
    <li>Sexo</li>
    <li>Número do Cartão de Cidadão</li>
    <li>Endereço</li>
    <li>DNúmero de telefone</li>
</ul>
<h3>Newsletter</h3>
<p>
    A Agenda envia periodicamente, para quem deseje subscrever uma newsletter.
    Estas newsletters podem ser segmentadas por interesses e por zona geográfica e por isso podem ser solicitados dados adicionais aos utilizadores.
    Quando se subscrever a newsletter os dados pessoais recolhidos serão estes, sendo que todos, exceto o nome e email são facultativos.
</p>

